.header {
    @include flex_space-between;
    // position: fixed;
    background-color: $the-lightest;
    width: 98%;
    box-shadow: $light-shadow;
    padding: 0 1.2em;
}

.header__link {
    padding: 15px;
    transition: all 0.15s ease-in-out;

    &:hover {
        background-color: $light-color;
        color: $main-color;
    }
}

.header__list {
    max-width: 12%;
    .header__item {
        display: none;
        padding: 0 10px;
        transition: all 0.15s ease-in-out;
    }

    .header__item_first {
        display: block;
        transition: all 0.15s ease-in-out;
    }
}

.header__list:hover {
    background-color: $the-lightest;
    margin: 0;
    transform: translateY(105px);

    .header__item {
        transition: all 0.25s ease-in-out;
        display: block;
        padding: 8px;
    }

    .header__item:hover {
        background-color: $light-color;
    }
}

.contacts {
    @include flex_space-between;
}
.username {
    font-size: 16px;
    font-family: 'Stem Light', Arial, Helvetica, sans-serif;
    color: $primary-color;
}
.authorized-user a {
    text-decoration: none;
}