$main-color: #0177D7;
$light-main-color: rgb(1, 119, 215, 0.1);
$primary-color: #52AE32;
$light-primary-color: rgba(82, 174, 50, 0.1);
$light-color: #f3f3f3;
$light-border: #cccccc;
$the-lightest: #ffffff;
$light-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
$the-darkest: #000000;